header	{
		background-color: indianred; 
		color: blue; 
}

h1	{
	text-align: center;
	background-color: indianred; 
	font-family: arial, helvetica, sans-serif; 
	color: blue;
} 

a:visited	{ 
			color: green;
}

a:active	{
			text-decoration: none;
}

a:hover	{
		font-weight: bold;
}

nav	{
	width: 100%;
	padding: 1px;
	border-top: thin black solid;
    border-bottom: thin black solid;
	margin: 0px;
} 	
	
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover	{
								background-color: indianred;
								color: white;
								border: 2px solid black;
								height: 44px;
								width: 110px;						
 }
 
.nav-tabs > li.inactive > a,
.nav-tabs > li.inactive > a:focus,
.nav-tabs > li.inactive > a:hover	{
									background-color: indianred;
									color: white;
									border: 2px solid black;
									height: 44px;
									width: 110px;
}
	 
footer	{
		position: relative;
		bottom: 0; 
		width: 100%; 
		text-align: center;
		background-color: indianred;
		color: blue;
}

.jumbotron	{
			position: relative;
			width: 100%;
			font-size: 12px;
			text-align: center;
			background-color: blue;
			height: 130px;
			color: white;
			border: 1px solid black;
}

.glyphicon.glyphicon-home	{
							width: 18px;
							height: 5px;
}
						
